<header class="app-header navbar">
    <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
    <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" [routerLink]="['']">
    <img class="navbar-brand-full" src="/assets/img/logo.svg" width="150" height="39" alt="CoreUI Logo">
    <img class="navbar-brand-minimized" src="/assets/img/logo.svg" width="30" height="30" alt="CoreUI Logo">
    </a>
    <button *ngIf="currentUser && organization" class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
    <span class="navbar-toggler-icon"></span>
    </button>

</header>
<div class="app-body" >
    <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-item" >
                    <a [routerLinkActive]="['active']" class="nav-link" [routerLink]="['/home']">
                    <i class="nav-icon icon-speedometer"></i>Dashboard
                    </a>
                </li>
                <li class="nav-item" >
                    <a [routerLinkActive]="['active']" class="nav-link" [routerLink]="['/crawle']">
                    <i class="nav-icon icon-speedometer"></i>Crawle
                    </a>
                </li>
            </ul>
        </nav>
        <button class="sidebar-minimizer brand-minimizer" type="button"></button>
    </div>
    <div class="main">
            <spinner></spinner>
        <router-outlet></router-outlet>
    </div>
</div>
<footer class="app-footer">
    <div>
        <a href="#">Crawle Master</a>
        <span>&copy; 2018 Crawle ltd.</span>
    </div>
    <div class="ml-auto">
        <span>Crawle ltd</span>
        <a href="#">Crawle Master</a>
    </div>
</footer>