<header class="app-header navbar">
    <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
    <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" [routerLink]="['']">
    <img class="navbar-brand-full" src="/assets/img/logo.svg" width="150" height="39" alt="CoreUI Logo">
    <img class="navbar-brand-minimized" src="/assets/img/logo.svg" width="30" height="30" alt="CoreUI Logo">
    </a>
    <button *ngIf="currentUser && organization" class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
    <span class="navbar-toggler-icon"></span>
    </button>
    <!--<ul class="nav navbar-nav d-md-down-none">
        <li class="nav-item px-3">
          <a class="nav-link" href="#">Dashboard</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link" href="#">Users</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link" href="#">Settings</a>
        </li>
        </ul> -->
    
 <!--    <ul *ngIf="currentUser"  class="nav navbar-nav ml-auto">
        <h5 class="org_title" *ngIf="organization_name">{{organization_name}}</h5>
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <img class="img-avatar" src="/assets/img/user.png" alt="image">
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-header text-center">
                    <strong>{{currentUser.first_name}} {{currentUser.last_name}}</strong>
                </div>
                <a class="dropdown-item" href="#">
                <i class="fa fa-user"></i> Profile</a>
                <div class="divider"></div>
                <a class="dropdown-item" [routerLink]="['/choose-organization']">
                <i class="fa fa-user"></i> Switch Organization</a>
                <div class="divider"></div>
                <a class="dropdown-item btn btn-link" (click)="logout()">
                <i class="fa fa-lock"></i> Logout</a>
            </div>
        </li>
    </ul>
    <button *ngIf="currentUser && organization" class="navbar-toggler aside-menu-toggler d-lg-none" type="button" data-toggle="aside-menu-show">
    <span class="navbar-toggler-icon"></span>
    </button> -->
</header>
<div class="app-body" >
    <div class="sidebar" *ngIf="currentAuth">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-item" >
                    <a [routerLinkActive]="['active']" class="nav-link" [routerLink]="['/home']">
                    <i class="nav-icon icon-speedometer"></i>Dashboard
                    </a>
                </li>
                <li class="nav-item" >
                    <a [routerLinkActive]="['active']" class="nav-link" [routerLink]="['/crawle']">
                    <i class="nav-icon icon-speedometer"></i>Crawle
                    </a>
                </li>
            </ul>
        </nav>
        <button class="sidebar-minimizer brand-minimizer" type="button"></button>
    </div>
    <div class="main">
        <router-outlet></router-outlet>
    </div>
</div>
<footer class="app-footer">
    <div>
        <a href="#">Crawle Master</a>
        <span>&copy; 2018 Crawle ltd.</span>
    </div>
    <div class="ml-auto">
        <span>Crawle ltd</span>
        <a href="#">Crawle Master</a>
    </div>
</footer>